a, a:not([class]) {
  text-decoration: none;
}

a:hover, a:focus {
  color: $fgg-orange;
}

h1, h2, h3, h4, h5, h6 {
  color: $fgg-blue;
}

h1, h4 {
  font-weight: bold;
}

.site-title {
  font-size: 1rem !important;
  line-height: 1.25;
}

.site-logo {
  background-position: center center;
}

.side-bar {
  background: $fgg-light-blue;
  z-index: 111111111111111111;
}

#site-nav {
  display: none;
}

.breadcrumb-nav {
  display: none;
}

.main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}



.back-to-top {
  height: 2.5rem;
  position: fixed;
  width: 2.5rem;
  padding: 2px;
  right: 1rem;
  background: #002751;
  bottom: 2rem;
}

.back-to-top svg {
  color: white;
  transform: rotate(-90deg);
}


@media (min-width: 66.5rem) {
  .side-bar {
    width: calc((56% - 66.5rem) / 2 + 16.5rem);
    min-width: 16.5rem;
  }

  .main {
    margin-left: auto;
  }
}

@media (min-width: 50rem) {
  .main {
    //max-width: 100.5rem;

    max-width: 80%;
  }

  .side-bar {
    display: none;
  }
}